body{
    overflow: hidden;
    background-color: rgba(67, 6, 209, 0.705);
}


img{
    
    width: 420px;
    position: absolute;
    right: 0px;
    bottom: -50px;
    transition: 2s;
    animation: anime 8s  ease-in-out infinite ;
    animation-delay: 0.5s;
}


@keyframes anime{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}